* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #000000;
    width: 1440px;
    height: 2491px;
    top: -225px;
    left: 709px;
    gap: 0px;
    opacity: 0px;
}

.banner {
    width: 1440px;
    height: 605px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #33A8DB;
    background-image: url(assets/images/banner.png), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 168, 221, 0) 100%);
}

.banner button {

}